Download and install Anaconda (Individual Edition) - 64-Bit Graphical Installer (with Python 3.X)
https://www.anaconda.com/products/individual

Open Anaconda Prompt (Anaconda 3) as “Administrator”.
Type “pip install streamlit” and install (est. 1 min).
Type “pip install tensorflow” and install (est. 5-10 mins).

Download files from Auntie-DOT\CN345
Launch Spyder - Python IDE and open and run "CN345_app_model.py"

Open Anaconda Prompt and type “cd /d C:\Python\cn345” to go into “C:\Python\cn345” folder.
Then, type “streamlit run cn_app.py” and hit Enter key to run the app.